// note: this is an example, and also this will not work, i give you this to help to put all the necessary variable environment
// rename it '.env' to load variable environment.  
DB_URL=<your-mongo-db-link>
NODE_ENV=<development or production>
JWT_SECRET=<your-jwt-secret>
GEMINI_API_KEY=<your-api-key>
VIEW_LINK=<VIEW-LINK>